@model TercerParcial_Centurion.CONTACTO

@{
    ViewBag.Title = "Contacto";
}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contactanos!</h1>
                    <span class="subheading">Tienes preguntas? Yo tengo respuestas.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Consultas, dudas, suguerencias e insultos son bienvenidos =)</p>

            @*<form name="sentMessage" id="contactForm" novalidate>*@
            @*@using (Html.BeginForm())
                {*@
            <form method="post" action="@Url.Action("Create", "CONTACTO")">

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>Nombre</p>
                        @*<input type="text" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Ingrese su nombre">*@
                        @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>Email</p>
                        @*<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Ingrese su email">*@
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <p>Numero de telefono</p>
                        @*<input type="tel" class="form-control" placeholder="Numero de telefono" id="phone" required data-validation-required-message="Ingrese su numero de telefono">*@
                        @Html.EditorFor(model => model.NUMERO, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>Mensaje</p>
                        @*<textarea rows="5" class="form-control" placeholder="Mensaje" id="message" required data-validation-required-message="Ingrese su mensaje"></textarea>*@
                        @Html.EditorFor(model => model.MENSAJE, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                @*<button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>*@
                <input type="submit" value="Enviar" class="btn btn-default" />
                @*</form>*@
                @*  }*@
            </form>
        </div>
    </div>
</div>