@model TercerParcial_Centurion.Publicacion

@{
    ViewBag.Title = "Detalle Publicacion";
}

<h2>Detalle</h2>

<div>
    <h4>Publicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Retroceder", "Index")
</p>
